.App {
    height: 100vh;
    width: 100vw;
    background-color: #fed0d2;
    display: flex;
    align-items: center;
    
}

.container {
    height: 90vh;
    width: 90vw; 
    /* overflow-y: scroll;
    overflow-x: visible; */
    border-radius: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    position: relative;
    /* overflow-y: auto; */
}

.body {
    height: 80vh;
    width: 100%;
    align-items: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
